@import url('https://fonts.googleapis.com/css?family=Anton|Courgette|Fjalla+One|Francois+One');
* {
    margin: 20px;
    background-color: whitesmoke
}
.wrapper{
    margin: 20px;
}
#img1 {
    width: 1200px;
    height: 400px;
}
h1 {
    color:red;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}
h2 {
    color: blue;
    font-size: 26px;
    font-family: 'Fjalla One', sans-serif;
}
h4 {
    font-size: 20px;
    font-family: 'Francois One', sans-serif;
}
p {
    font-size: 16px;
    font-family: 'Courgette', cursive;
}